<theme>
<formatVersion>7</formatVersion>
<variables> 




																																								




<animation.right>yes</animation.right>


<animation.right2>yes</animation.right2>



<animation.gamelist.right>yes</animation.gamelist.right>


<animation.gamelist.right2>yes</animation.gamelist.right2>

																																										

</variables>
</theme>